# Python
venv/
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# Exports utilisateur
*.txt
!requirements.txt
stormer_config.json
arduino/generated/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
